@charset "UTF-8";
* { margin: 0; padding: 0; list-style: none; }

ul { padding: 0; margin: 0; }

#map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 9; background-color: #ddd; }

/* zui样式调整 */
.messagers-holder .messager { border-radius: 3px; }
