@charset "UTF-8";
/* 工具栏  */
.customTool_toolBox { position: absolute; right: 20px; top: 20px; z-index: 9999; user-select: none; }
.customTool_toolBox ul .customTool_li { width: 30px; height: 30px; line-height: 30px; text-align: center; border-radius: 50%; background-color: #fff; margin-bottom: 15px; box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3); }
.customTool_toolBox ul .customTool_li:last-child { margin-bottom: 0; }
.customTool_toolBox ul .customTool_li.active i { color: #3280fc; }
.customTool_toolBox ul .customTool_li i { display: block; cursor: pointer; color: #7c8196; line-height: 30px; }
.customTool_toolBox ul .customTool_li i:hover { color: #3280fc; }
