/* 工具栏  */
$toolLiWH: 30px;
.customTool_toolBox {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
  user-select: none;
  ul {
    .customTool_li {
      width: $toolLiWH;
      height: $toolLiWH;
      line-height: $toolLiWH;
      text-align: center;
      border-radius: 50%;
      background-color: #fff;
      margin-bottom: 15px;
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        i {
          color: #3280fc;
        }
      }
      i {
        display: block;
        cursor: pointer;
        color: #7c8196;
        line-height: $toolLiWH;
        &:hover {
          color: #3280fc;
        }
      }
    }
  }
}
