table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0;
}

.buttonstyle {
    border-color: #eeeeee #9b9b9b #9b9b9b #eeeeee;
    border-style: solid;
    border-width: 1px;
    background-color: #d6d6d6;
    cursor: pointer;
}

.buttonoverstyle {
    border-color: #eeeeee #9b9b9b #9b9b9b #eeeeee;
    border-style: solid;
    border-width: 1px;
    background-color: #ffb75b;
    cursor: pointer;
}

.buttondownstyle, .buttonselectstyle {
    border-color: #9b9b9b #eeeeee #eeeeee #9b9b9b;
    border-style: solid;
    border-width: 1px;
    background-color: #cacaca;
    cursor: pointer;
}

.buttonnonestyle {
    border-color: #7f7f7f;
    border-style: dotted;
    border-width: 1px;
    background-color: #e0e1e2;
}

.buttonboxstyle {
    -moz-word-break: break-all;
    -o-word-break: break-all;
    word-break: break-all;
    vertical-align: middle;
}

.xmlstyle {
    padding: 2px;
    border-color: #7f7f7f;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    background-color: #e6e7e8;
    font-family: Verdana;
    font-size: 12px;
}

.xmlstylelt {
    padding: 2px;
    border-width: 0 1px 1px 0;
    border-style: none solid solid none;
    border-color: #7f7f7f;
    background-color: #e6e7e8;
    white-space: nowrap;
    text-align: right;
    font-family: Verdana;
    font-size: 12px;
}

.xmlstylert {
    padding: 2px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    border-color: #7f7f7f;
    background-color: #e6e7e8;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 12px;
}

.xmlstylelb {
    padding: 2px;
    border-width: 0 1px 0 0;
    border-style: none solid none none;
    border-color: #7f7f7f;
    background-color: #e6e7e8;
    white-space: nowrap;
    text-align: right;
    font-family: Verdana;
    font-size: 12px;
}

.xmlstylerb {
    padding: 2px;
    background-color: #e6e7e8;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 12px;
}
